body {
  font-family: Arial;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section1 {
  align-items: center;
  flex-direction: row;
  align-items: center
}

.section2 {
  align-items: center;
}

.section3 {
  align-items: center;
}
.line-1 {
  font-size: 30px;
  color: white;
}

.line-2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-bottom: 0px;
}

.line-3 {
  font-size: 15px;
  color: #d3d3d3;
}

.images {
  align-items: center;
}

input[type='button'] {
  background-color: #f57113;
  color: white;
  font-weight: bold;
  font-size: medium;
  border: 0px;
  border-radius: 15px;
}
a:visited {
  color: white;
}

a:hover {
  color: grey;
}